include README.md
include LICENSE
include requirements.txt

# Include data files
recursive-include pokemon_randbats/data *.json
recursive-include pokemon_randbats/metadata *.json

# Include test files
recursive-include tests *.py 